<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="validade" value="1" />
    <add key="NewKey0" value="Monday, March 30, 2009 1:36:33 PM" />
    <add key="NewKey1" value="Monday, March 30, 2009 1:36:40 PM" />
  </appSettings>
</configuration>